# Puerto
PORT=

# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Un secreto fuerte y aleatorio para firmar tus tokens
JWT_SECRET=

# El tiempo de expiración que solicitaste
JWT_EXPIRES_IN=

# Acceso a pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=